

.dropbtn {
  background: transparent;
  /* padding: 16px; */
  padding: 8px;
  border: none;
  line-height: 24px;
  color:#009035 ;
  cursor: pointer;
  font-size: 17px;
  font-family: system-ui;
  font-weight: 500;
  position: relative;
}

.dropbtn::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  left: 0;
  right: 0;
  height: 2px;
  transition: 0.1s ease-in-out;
}
.dropbtn::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
  height: 3px;
  /* background-color: #f4e757; */
  transition: 0.3s ease-in-out;
}


.dropbtn1 {
  background: transparent;
  /* padding: 16px; */
  padding: 8px;
  border: none;
  line-height: 24px;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  font-family: system-ui;
  font-weight: 500;
  position: relative;
}

/* .dropbtn::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  left: 0;
  right: 0;
  height: 2px;
  transition: 0.1s ease-in-out;
}
.dropbtn::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #f4e757;
  transition: 0.3s ease-in-out;
} */


.cardScroll{
  
}